<div>
    <div class="card-body">
        <div class="card-body">
            <div>
            
                {% if user.is_authenticated %}
                <a class="btn btn-sm btn-dark" href="{% url 'profile' user.username %}">Моя страница</a><p></p>

                <a class="btn btn-sm btn-dark" {% if follow  %} active {% endif %} href="{% url 'follow_index' %}">Мои подписки</a><p></p>

                <a class="btn btn-sm btn-dark" {% if index %} active {% endif %} href="{% url 'index' %}">Посты всех авторов</a><p></p>
                {% else %}
                <b>Вы не авторизированы</b><p></p>
                <a class="btn btn-sm btn-dark" href="{% url 'login' %}">Войти</a><p></p>
                <a class="btn btn-sm btn-dark" href="{% url 'signup' %}">Регистрация</a>
                {% endif %} 
            </div>
        </div>

    </div>
</div>
