{% block content %}
{% load user_filters %}

{% if user.is_authenticated %}
<div class="card my-4">
    <form method="post" action="{% url 'add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>
{% endif %}

{% load comments_filter %}
{% for item in post.comments.all %}
<div class="media card mb-4">
    <div class="media-body card-body" style="width:100%">
        <h5 class="mt-0">
            <a href="{% url 'profile' item.author.username %}"
               name="comment_{{ item.id }}">
                {{ item.author.username }} 
            </a>
        </h5>
        <p>{{ item.text | linebreaksbr }}</p>
        {% if item.author == request.user %}   
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a class="btn btn-sm btn-light" href="{% url 'del_comment' post.author post.id item.id %}" role="button">Удалить комментарий</a>
            </div>
            <div><small class="text-muted">{{ item.created }}</small></div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %} 
{% endblock %}