{% extends "base.html" %}
{% block title %}Мои подписки {% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include "includes/menu.html" with follow=True %}
        <div class="col-md-9"> 
            {% for post in page %}
            {% include "includes/post_item.html" with post=post %}
        {% endfor %}
        </div>

        <div style="width: 50%; margin: 0 auto; text-align: center;">
            {% if page.has_other_pages %}
                {% include "includes/paginator.html" with items=page paginator=paginator%}
            {% endif %}
        </div>
    </div>
</main> 

{% endblock %} 