{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}


<main role="main" class="container">
  <div class="row">
      {% include "includes/group_info.html"  %}
      <div class="col-md-9"> 
        {% for post in page %}
          {% include "includes/post_item.html" with post=post %}
        {% endfor %}
        <div style="width: 50%; margin: 0 auto; text-align: center;">
          {% if page.has_other_pages %}
              {% include "includes/paginator.html" with items=page paginator=paginator%}
          {% endif %}
          </div>
      </div>
  </div>

{% endblock %} 


